

<% include partials/header %>
<% include partials/navbar %>
<% include partials/nav-mobile-menu %>
<% include partials/landing %>
<% include partials/about %>
<% include partials/projects %>

<!-- ====== CONTACT SECTION ====== -->

<div id="container-contact-section" class="section contact-section container-fluid">
    

    <!-- <div class="paperclips">
        <img src="paperclip_green.png">
        <img src="paperclip_green.png">
        <img src="paperclip_green.png">
        <img src="paperclip_green.png">
        <img src="paperclip_green.png">
        <img src="paperclip_green.png">
    </div> -->

    <div class="binder-clips">
        <img src="yellow_binder_clip.png">
        <img src="yellow_binder_clip.png">
        <img src="yellow_binder_clip.png">
        <img src="yellow_binder_clip.png">
        <a href="/"><i class="fab fa-github"></i></a>
        <a href="/"><i class="fab fa-linkedin-in"></i></a>
        <a href="/"><i class="fab fa-trello"></i></a>
        <a href="/"><i class="far fa-file-alt"></i></a>

    </div>

    <div id="container-h2">
        <h2>Contact</h2>
        <hr>
    </div>

    <div id="paragraph-container">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit?</p>
        <img id="envelope" src="envelope_cropped.png">          
    </div>

    <div id="contact-form-container">
        <form id="requestForm" action="/post" method="POST">
            
                <div id="successP" class="no-display"><i id="successIcon" class="far fa-check-circle"></i>Your message has been sent.</div>
                <div id="failP" class="no-display"><i id="failIcon" class="fas fa-exclamation-circle"></i> There are items that require your attention.</div>

                <input id="nameInputId" type="text" name="name" placeholder="Name">
                <p id="errorNameP" class="no-display"></p>

                <input id="emailInputId" type="email" name="email" placeholder="Email">
                <p id="errorEmailP" class="no-display"></p>

                <textarea id="messageInputId" name="message" placeholder="Your message"></textarea>
                <p id="errorMessageP" class="no-display"></p>

                <button class="float-right">Send</button>
        </form>
    </div>
    <div id="usb-drive-container">
        <img id="usb-flash-drive" src="usb_flash_drive_cropped.png">
        <a href="/"><i id="resume-download" class="far fa-file-alt"></i></a>
        <div id="usb-light"></div>
        <div id="usb-flash-drive-shadow1"></div>
        <div id="usb-flash-drive-shadow2"></div>
    </div>
    
</div>

<script>
    if (<%= posted %>){
        document.getElementById("requestForm").scrollIntoView();
    }
    if (<%= success %>){
        // Scroll to form, display "success" message, reset form to default
        document.getElementById("successP").style.display = "block";
    } else {
        // Scroll to form, display applicable errors and user's input data
        document.getElementById("failP").style.display = "block";
        if (<%= hasErrorName %>){
            document.getElementById("errorNameP").innerHTML = "<%= errorName %>";
            document.getElementById('nameInputId').value = "<%= userName %>";
            document.getElementById("nameInputId").className += " inputErrorBorder";
            document.getElementById("errorNameP").style.display = "block";
        } else {
            document.getElementById("errorNameP").style.display = "none";
            document.getElementById('nameInputId').value = "<%= userName %>";
            document.getElementById("nameInputId").className -= " inputErrorBorder";
        }
        if (<%= hasErrorEmail %>){
            document.getElementById("errorEmailP").innerHTML = "<%= errorEmail %>";
            document.getElementById('emailInputId').value = "<%= userEmail %>";
            document.getElementById("emailInputId").className += " inputErrorBorder";
            document.getElementById("errorEmailP").style.display = "block";
        } else {
            document.getElementById("errorEmailP").style.display = "none";
            document.getElementById('emailInputId').value = "<%= userEmail %>";
            document.getElementById("emailInputId").className -= " inputErrorBorder";
        }
        if (<%= hasErrorMessage %>){
            document.getElementById("errorMessageP").innerHTML = "<%= errorMessage %>";
            document.getElementById('messageInputId').value = "<%= userMessage %>";
            document.getElementById("messageInputId").className += " inputErrorBorder";
            document.getElementById("errorMessageP").style.display = "block";
        } else {
            document.getElementById("errorMessageP").style.display = "none";
            document.getElementById('messageInputId').value = "<%= userMessage %>";
            document.getElementById("messageInputId").className -= " inputErrorBorder";
        }
    }  
</script>

<% include partials/footer %>